<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
파일명: CartMapper.xml
기능: 장바구니 조회, 추가, 수량 수정, 삭제하는 Mapper xml
작성자: 박주영

[코멘트: X]
 -->
<mapper namespace="com.hyundai.mapper.CartMapper">

	<!-- 장바구니 조회하는 테이블 함수 실행 -->
	<select id="getList" resultType="com.hyundai.domain.MycartVO">
		SELECT *
		FROM TABLE(cart_pkg.fn_get_cart(#{mid}))
	</select>
	
	<!-- 장바구니 추가하는 프로시저 호출 -->
	<insert id="insert" statementType="CALLABLE">
   	{
   		CALL cart_pkg.sp_insert_cart(
   			#{mid},
   			#{pid, jdbcType=VARCHAR},
   			#{psize, jdbcType=VARCHAR},
   			#{pcolor, jdbcType=VARCHAR},
   			#{pamount, jdbcType=NUMERIC}
   		)
   	
   	}	
	</insert>
	
	<!-- 장바구니 수정하는 프로시저 호출 -->
	<update id="update" statementType="CALLABLE">
   	{
   		CALL cart_pkg.sp_update_cart(
   			#{mid},
   			#{pid, jdbcType=VARCHAR},
   			#{pamount, jdbcType=NUMERIC}
   		)
   	
   	}	
	</update>
	
	<!-- 장바구니 삭제하는 프로시저 호출 -->
	<delete id="delete" statementType="CALLABLE">
   	{
   		CALL cart_pkg.sp_delete_cart(
   			#{mid},
   			#{pid, jdbcType=VARCHAR}
   		)
   	
   	}	
	</delete>
	
</mapper>