<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 회원 추가, 조회, 로그인, 아이디 중복확인을 수행 -->
<mapper namespace="com.hyundai.mapper.MemberMapper">

	<!-- 회원 추가하는 프로시저 호출 -->
	<insert id="insert" statementType="CALLABLE">
		{
		CALL member_pkg.sq_member_insert
		(
		#{mid},
		#{mpassword},
		#{mname},
		#{memail},
		#{mtel},
		#{mbirth, jdbcType=DATE},
		#{maddress1, jdbcType=VARCHAR},
		#{maddress2, jdbcType=VARCHAR}
		)
		}
	</insert>

	<!-- 회원 정보 조회 -->
	<select id="read" resultType="com.hyundai.domain.MemberVO">
		select * from member where mid=#{mid}
	</select>
	
	<!-- 로그인을 위해 아이디와 패스워드가 일치하는 회원 조회 -->
	<select id="login" resultType="com.hyundai.domain.MemberVO">
		select *
		from member
		where mid = #{mid}
		and mpassword = #{mpassword}
	</select>
	
	<!-- 아이디 중복확인을 위해 아이디 조회 -->
	<select id="checkid" resultType="int">
		select count(mid)
		from member
		where mid = #{mid}
	</select>
</mapper>